
h1, h2, headerLinks a {
    color: #3c661e;
}

.headerLinks a {
    background-color: #e2f1ae;
    border: 1px solid #91bd5e;
    border-radius: 2px;
    padding: 2px;
}



html, body {
    height: 100%;
}

@media screen and (min-width: 450px) {
    body {
        background-image: url("images/daisyBorder.jpg");
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin-left: 250px;
    }
}

body {
    background-color: #cde8b5;
    font-family: Arial;
}
.contentSection, h1 {
    border: 2px solid #91bd5e;
    border-radius: 3px;
    padding: 3px
}

img {
    width: 500px;
}

/*.speciesEnglish {

}*/

.speciesLatin {
    font-style: italic
}
table{
    border-collapse: collapse;
}
table, thead, tbody, th, td {
    border:thin solid;
    padding: 15px;
}



thead{
    font-weight:bold;
}