
<h2>My Garden</h2>
<p>I love seeing wildlife use my garden. I have been working at making my garden more attractive to birds and beasties alike.
     This includes digging a pond, sewing a wildflower meadow and planting.</p>
<p>To keep a record of the wildlife that I have found using my garden, I have created the My Wildlife Garden website.</p>
<p>
    <a href="#" onclick="toggleSomething('.generalPhotos');">Garden</a>
    <a href="#" onclick="toggleSomething('.animalPhotos');">Animals</a>
</p>
<div class="photoSection">
    <p class="generalPhotos">
        <img src="~/images/Willow.JPG" />
        <img src="~/images/Pond.JPG" />
    </p>
    <p class="animalPhotos">
        <img src="~/images/Meadow browns.JPG" />
        <img src="~/images/Ringlet.JPG" />
        <img src="~/images/Privet hawkmoth.JPG" />
        <img src="~/images/Chafer.JPG" />
        <img src="~/images/Wasp.JPG" />
        <img src="~/images/Sparrow.JPG" />
    </p>

</div>




