@{
    var dbHelper = new MyGardenWildlife3.Helpers.DatabaseHelper();
    ViewBag.Title = "Home";
    
}



<h1>Wildlife In My Garden</h1>

<p class="headerLinks">
    <a id="homeHeader" href="#">Home Page</a>
    @foreach (var sectionObject in dbHelper.GetSectionList())
    {
        <a href="#" id="@sectionObject.Id">@sectionObject.SectionName</a>
        
    }


</p>
<div class=" contentSection">
    @Html.Partial("HomeScreen")
</div>