

@model MyGardenWildlife3.Models.SectionModel


@*@{
        ViewBag.Title = Model.SectionName;
        ViewBag.Heading = Model.SectionName;
    }*@

@* A generic intro paragraph, with a few words specific to each section, specified in the database in SectionIntro column*@


<div>
    <p>
        This page lists <span>@Model.SectionIntro</span> in my garden. They have been organised into categories.

    </p>
</div>
@* Create a foreach loop, defining the variable category. CategoryList is a list of categoryModels.
    The loop goes through each item in the the list and displays the CategoryModel.cshtml view.  *@
<div>
    @foreach (var category in Model.CategoryList)
    {
        @Html.Partial("CategoryModel", category)
    }

</div>

