<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/functions.js"></script>

</head>
<body>
    <h1>@ViewBag.Heading</h1>
    <p class="headerLinks">
        <a href="~/home/index">Home</a>
        <a href="~/home/inverts">Invertebrates</a>
        <a href="~/home/birds">Birds</a>
        <a href="~/home/mammals">Mammals, Amphibians & Reptiles</a>
        <a href="~/home/plants">Plants</a>
    </p>
    @RenderBody()

</body>
</html>
