@model MyGardenWildlife2.Models.SectionModel
@{
    ViewBag.Title = @Model.SectionName + "Admin";
}

<h2> @Model.SectionName Admin</h2>
<table>
    <tr>
        <td>Category Name</td>
        <td>Edit</td>
        <td>Species</td>
        <td>Delete</td>
    </tr>
    @foreach (var categoryObject in Model.CategoryList)
    {
        <tr>
            <td>@categoryObject.CategoryName</td>
            <td>
                <a href="~/admin/CategoryEdit/@categoryObject.Id">Edit</a>
            </td>
            <td>
                <a href="~/admin/SpeciesList/@categoryObject.Id">SpeciesList</a>
            </td>
        </tr>
    }

</table>

