@model int?
@{
    ViewBag.Title = "NewCategory";
    ViewBag.Heading = "New Category";
}


<h2>Add new category:</h2>

<form action="~/admin/CategoryAdd" method="post">

    <input type="hidden" name="SectionId" value="@Model" />
    Category Name:
    <input type="text" name="CategoryName" value="" />
    <br /><br />
    <input type="submit" value="submit" />

</form>
