@model int?
@{
    ViewBag.Title = "NewSpecies";
    ViewBag.Heading = "New Species";
}

<h2>Add new Species</h2>

<form action="~/admin/SpeciesAdd" method="post">

    <input type="hidden" name="CategoryId" value="@Model" />
    Common Name:
    <input type="text" name="CommonName" value="" />
    <br /><br />
    Latin Name:
    <input type="text" name="LatinName" value="" />
    <br /><br />
    <input type="submit" value="submit" />

</form>


