@model MyGardenWildlife2.Models.SpeciesModel
@{
    ViewBag.Title = "SightingList" + Model.CommonName + Model.LatinName;
    ViewBag.Heading = "Sighting List: " + Model.CommonName + " " + Model.LatinName;
}



<table>
    <tr>
        <td>When</td>
        <td>Where</td>
        <td>How Many</td>
        <td>Comment</td>
        <td>Edit</td>
        <td>Figures</td>
        <td>Delete</td>
    </tr>
    @foreach (var sightingObject in Model.SightingList)
    {
        <tr>
            <td>@sightingObject.WhenSeen</td>
            <td>@sightingObject.WhereSeen</td>
            <td>@sightingObject.HowMany</td>
            <td>@sightingObject.Comment</td>
            <td>

                <a href="~/admin/sightingEdit/@sightingObject.Id">Edit</a>
            </td>
            <td>
                <a href="~/admin/figureList/@sightingObject.Id">Figure list</a>
            </td>
            <td>
                <a href="~/admin/SightingDelete/@sightingObject.Id">Delete</a>
            </td>

        </tr>
    }
</table>
<br />

<a href="~/admin/NewSighting/@Model.Id">Add a new sighting</a>

