@model MyGardenWildlife3.Models.CategoryModel

<h2>Edit Category:  @Model.CategoryName</h2>



<input type="hidden" id="categoryId" name="CategoryId" value="@Model.Id" />
<input type="hidden" id="sectionId" name="SectionId" value="@Model.SectionModel.Id" />

    Category Name:
<input type="text" id="categoryName" name="CategoryName" value="@Model.CategoryName" />
<br /><br />
<input type="button" class="submitCategory" value="Submit" />



<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>
<button type="button" class="backToCatList">Back to Category List</button>


