@model MyGardenWildlife3.Models.CategoryModel

<h2>Edit Cateory:  @Model.CategoryName</h2>

<form action="~/admin/CategorySave" method="post">

    <input type="hidden" name="CategoryId" value="@Model.Id" />
    <input type="hidden" name="SectionId" value="@Model.SectionModel.Id" />
    Category Name:
    <input type="text" name="CategoryName" value="@Model.CategoryName" />
    <br /><br />
    <input type="submit" value="submit" />

</form>

<br /><br />
<button type="button" class="toAdminIndex">Back to Admin Home</button>


