<h2>Add New Section</h2>

<input type="hidden" id="sectionId" name="SectionId" value="" />
Section Name:
<input type="text" id="sectionName" name="SectionName" value="" />
<br /><br />
    Section Intro:
<input type="text" id="sectionIntro" name="SectionIntro" value="" />
<br /><br />
<input type="button" class="submitSection" value="Submit" />


<br /><br />
<button type="button" class="toSectionList">Back to Section List</button>
<button type="button" class="toAdminIndex">Back to Admin Home</button>