@model MyGardenWildlife3.Models.SectionModel

<h2>Edit Section: @Model.SectionName</h2>

<form action="~/admin/SectionSave" method="post">


    <input type="hidden" name="SectionId" value="@Model.Id" />

    Section Name:
    <input type="text" name="SectionName" value="@Model.SectionName" />
    <br /><br />
    Section Intro:
    <input type="text" name="SectionIntro" value="@Model.SectionIntro" />
    <br /><br />
    <input type="submit" value="Submit" />


</form>

@*add link or button back to sectionList or adminIndex*@

<br /><br />
<button type="button" class="toSectionList">Back to Section List</button>
<button type="button" class="toAdminIndex">Back to Admin Home</button>
