@model MyGardenWildlife3.Models.SectionModel

<h2>Edit Section: @Model.SectionName</h2>



    <input type="hidden" id="sectionId" name="SectionId" value="@Model.Id" />

    Section Name:
    <input type="text" id="sectionName" name="SectionName" value="@Model.SectionName" />
    <br /><br />
    Section Intro:
    <input type="text" id="sectionIntro" name="SectionIntro" value="@Model.SectionIntro" />
    <br /><br />
    <input type="button" class="submitSection" value="Submit" />



@*add link or button back to sectionList or adminIndex*@

<br /><br />
<button type="button" class="toSectionList">Back to Section List</button>
<button type="button" class="toAdminIndex">Back to Admin Home</button>
