@model MyGardenWildlife3.Models.SpeciesModel

<h2>Edit species details:</h2>

<form action="~/admin/SpeciesSave" method="post">
    <input type="hidden" name="SpeciesId" value="@Model.Id" />
    <input type="hidden" name="CategoryId" value="@Model.CategoryModel.Id" />
    Common Name:
    <input type="text" name="CommonName" value="@Model.CommonName" />
    <br /><br />
    Latin Name:
    <input type="text" name="LatinName" value="@Model.LatinName" />
    <br /><br />
    <input type="submit" value="submit" />

</form>



