@model List<MyGardenWildlife2.Models.CategoryModel>
@{
    ViewBag.Title = "Plants";
    ViewBag.Heading = "Plants";
}


<div class="contentSection">
    <div>
        @foreach (var category in Model)
        {
            @Html.Partial("CategoryModel", category)
        }

    </div>
</div>
