@* This file, SectionView.cshtml, replaces all individual page views,
    ie. inverts.cshtml, birds.cshtml, etc. but not index.cshtml *@

@* Specify the type of object the view expects, so that Model. can be used for the Viewbag objects and the foreach loop. *@
@model MyGardenWildlife2.Models.SectionModel


@{
    ViewBag.Title = Model.SectionName;
    ViewBag.Heading = Model.SectionName;
}

@*Still to do: write a generic intro paragraph, possibly with a few words specific to each section*@

<div class="contentSection">
    <div>
        <p>
            Introductory Paragraph about set up of page ie. divided into sections of my garden or plant types -still need to decide

        </p>
    </div>
@* Create a foreach loop, defining the variable category. CategoryList is a list of categoryModels. 
   The loop goes through each item in the the list and displays the CategoryModel.cshtml view.  *@
    <div>
        @foreach (var category in Model.CategoryList)
        {
            @Html.Partial("CategoryModel", category)
        }

    </div>

</div>